/*
 * Copyright (c) 2023.
 *
 * This Source Code Form is subject to the terms of the Mozilla Public
 * License, v. 2.0. If a copy of the MPL was not distributed with this
 * file, You can obtain one at http://mozilla.org/MPL/2.0/.
 *
 * This Source Code Form is "Incompatible With Secondary Licenses", as
 * defined by the Mozilla Public License, v. 2.0.
 *
 */
manifest {
    description = 'Proof-of-concept pipeline for performing machine learning models on Non small cell lung cancer with Nextflow'
    author = 'Alina Orozco '
    mainScript = "main.nf"
    defaultBranch = "master"
    nextflowVersion = '>=22.10.0'
}

nextflow {
    enable.moduleBinaries = true
}

/*
 * Default pipeline parameters. They can be overriden on the command line eg.
 * given `params.foo` specify on the run command line `--dataset_name some_value`.
 */
params {
    fetch_dataset = true
    dataset_name = ['luad_mskcc_2015', 'luad_mdkcc_2020']

    visualize = true

    datadir = 'data'

    clinical_data = "${params.datadir}/data_clinical_patient.txt"
    sample_data = "${params.datadir}/data_clinical_sample.txt"
    mutations_meta = "${params.datadir}/data_mutations.txt"
    mutations_select = "${params.datadir}/mutations.txt"
    feature_labels = ""

    train_models = ['xgb']

    predict = true
    predict_models = "${params.datadir}/Modelling/*.pkl"
    predict_data = "${params.datadir}/Modelling/*.predict.txt"
    predict_meta = "${params.datadir}/Modelling/*.meta.json"

    outdir = 'results'
}


/*
 * Execution profiles for different environments.
 */
profiles {
    
    slurm {
        process.executor = 'slurm'
    }

    conda {
        process.conda = "$baseDir/conda.yml"
        conda.enabled = true
    }
    
    docker {
        docker.enabled = true
    }

    example {
        params.make_inputs = true
        params.targets = "class-00,class-01,class-02"
    }

    wave {
        process.conda = "$baseDir/conda.yml"
        docker.enabled = true
        docker.runOptions = '-u $(id -u):$(id -g)'
        wave.enabled = true
        wave.strategy = 'conda'
        wave.build.conda.commands = [
            'USER root',
            'RUN apt-get update -y && apt-get install -y procps'
        ]
    }
}