cycler==0.11.0
eli5==0.13.0
gitpython==3.1.27
matplotlib==3.5.2
numpy==1.22.4
oyaml==1.0
pandas==1.4.2
python-dateutil==2.8.2
scikit-learn==1.1.1
scipy==1.8.1
seaborn==0.11.2
tensorflow==2.9.1
tqdm==4.46.0
xgboost==1.6.1